<div class="jumbotron">
<h1>Enrol Me</h1>
<p>Using this site, you can register and save your details once, to enrol multiple times across different schools and clubs</p>
<%= link_to "Register", "#", class: "btn btn-primary btn-lg" %>
</div>
